<div class="h-screen w-screen flex justify-center items-center bg-[url(/assets/medicos/3.jpg)] bg-cover overflow-hidden">
    @if (spinner) {
        <div class="h-screen w-screen flex justify-center items-center backdrop-blur-md z-50 absolute">
          <app-spinner></app-spinner>
        </div>
    }
    <div class="h-full w-full flex justify-center items-center bg-customLightBlue/60">
        <div class="w-3/4 p-6 pl-8 flex flex-row rounded-md gap-6 bg-white/50">
            <div class="h-full flex flex-col justify-center gap-6">
                <div class="flex flex-row gap-3">
                    <img src="/assets/clinica_dark.png" alt="" class="h-9 w-9">
                    <h1 class="text-customDarkBlue font-bold text-4xl">Regístrate</h1>
                </div>
                <p class="text-customDarkBlue font-medium text-lg">Completa tus datos para poder acceder a la plataforma</p>
                <div class="flex justify-center items-center">
                    <img src="/assets/signup.svg" alt="" class="h-72 w-72">
                </div>
                <div class="flex justify-center flex-row gap-1.5">
                    <p class="text-black">¿Ya tienes una cuenta?</p>
                    <p routerLink="/login" class="text-customLightBlue cursor-pointer underline hover:text-customDarkBlue transition-colors">Inicia sesión</p>
                </div>
            </div>
            <div class="w-[420px] h-[470px] flex flex-col bg-slate-100 rounded-md shadow-2xl overflow-y-auto">
                <div class="h-10 min-h-10 w-full flex flex-row rounded-t-md cursor-pointer">
                    @if (userType == 'paciente') {
                        <div (click)="userType = 'paciente'" class="h-full w-1/2 flex justify-center items-center">
                            <h1 class="text-customLightBlue font-medium">Paciente</h1>
                        </div>
                        <div (click)="userType = 'especialista'" class="h-full w-1/2 flex justify-center items-center border-l-2 border-b-2">
                            <h1 class="text-customLightBlue font-medium">Especialista</h1>
                        </div>
                    } @else {
                        <div (click)="userType = 'paciente'" class="h-full w-1/2 flex justify-center items-center  border-r-2 border-b-2">
                            <h1 class="text-customLightBlue font-medium">Paciente</h1>
                        </div>
                        <div (click)="userType = 'especialista'" class="h-full w-1/2 flex justify-center items-center">
                            <h1 class="text-customLightBlue font-medium">Especialista</h1>
                        </div>
                    }
                </div>
                <div class="h-full w-full flex flex-col rounded-md gap-4 py-5 px-10">
                    <div class="flex flex-row gap-4">
                        <div class="flex flex-col">
                            <label for="name" class="text-customLightBlue font-medium text-sm">Nombre</label>
                            <input id="name" type="text" class="w-full h-8 border border-customLightBlue focus: rounded-md px-2" [(ngModel)]="name">
                        </div>
                        <div class="flex flex-col">
                            <label for="lastname" class="text-customLightBlue font-medium text-sm">Apellido</label>
                            <input id="lastname" type="text" class="w-full h-8 border border-customLightBlue focus: rounded-md px-2" [(ngModel)]="lastname">
                        </div>
                    </div>

                    <div class="flex flex-row gap-4">
                        <div class="w-1/4 flex flex-col">
                            <label for="edad" class="text-customLightBlue font-medium text-sm">Edad</label>
                            <input id="edad" type="number" class="w-full h-8 border border-customLightBlue focus: rounded-md px-2" [(ngModel)]="edad">
                        </div>
                        <div class="w-3/4 flex flex-col">
                            <label for="dni" class="text-customLightBlue font-medium text-sm">DNI</label>
                            <input id="dni" type="number" class="w-full h-8 border border-customLightBlue focus: rounded-md px-2" [(ngModel)]="dni">
                        </div>
                    </div>
                    @if (userType == "paciente") {
                        <div>
                            <label for="obrasocial" class="text-customLightBlue font-medium text-sm">Obra social</label>
                            <input type="obrasocial" class="w-full h-8 border border-customLightBlue focus: rounded-md px-2" [(ngModel)]="obrasocial">
                        </div>
                    } @else {
                        <div class="flex flex-col">
                            <label for="listaespecialidad" class="text-customLightBlue font-medium text-sm">Especialidad</label>
                            <select name="listaespecialidad" id="listaespecialidad" class="w-full h-8 border border-customLightBlue rounded-md px-2 text-zinc-700" [(ngModel)]="especialidad">
                                <option value="elige" disabled selected >Elige una opción</option>
                                <option value="clinico">Clinico</option>
                                <option value="traumatologia">Traumatología</option>
                                <option value="pediatria">Pediatría</option>
                                <option value="dermatologia">Dermatología</option>
                                <option value="cardiologia">Cardiología</option>
                                <option value="oftalmologia">Oftalmología</option>
                                <option value="otra">Otra</option>
                            </select>
                        </div>
                        @if (especialidad == "otra") {
                            <div>
                                <label for="especialidad" class="text-customLightBlue font-medium text-sm">Otra Especialidad</label>
                                <input type="especialidad" class="w-full h-8 border border-customLightBlue focus: rounded-md px-2" [(ngModel)]="otraEspecialidad">
                            </div>
                        }
                    }
                    <div>
                        <label for="email" class="text-customLightBlue font-medium text-sm">Correo electrónico</label>
                        <input type="email" class="w-full h-8 border border-customLightBlue focus: rounded-md px-2" [(ngModel)]="email">
                    </div>
                    <div>
                        <label for="password" class="text-customLightBlue font-medium text-sm">Contraseña</label>
                        <input type="password" class="w-full h-8 border border-customLightBlue focus: rounded-md px-2" [(ngModel)]="password">
                    </div>
                    <div class="flex flex-col">
                        <label for="imagen" class="text-customLightBlue font-medium text-sm">Elige una imagen de perfil:</label>
                        <label for="imagen" class="h-8 w-32 px-2 py-1 bg-customLightBlue rounded-md text-white flex justify-center hover:bg-white hover:text-customLightBlue transition-colors cursor-pointer">Sube tu foto</label>
                        @if (!foto1) {
                            <input (change)="onFileSelected($event, 'foto1')" type="file" id="imagen" name="imagen" accept="image/*" class="h-8 hidden">
                        } @else {
                            <div class="flex flex-row">
                                <input (change)="onFileSelected($event, 'foto1')" type="file" id="imagen" name="imagen" accept="image/*" class="h-8 hidden">
                                <p class="text-green-700 font-medium text-xs">Imagen subida con exito!</p>
                            </div>
                        }
                    </div>
                    @if (userType == "paciente") {
                        <div class="flex flex-col">
                            <label for="imagen2" class="text-customLightBlue font-medium text-sm">Elige una segunda imagen de perfil:</label>
                            <label for="imagen2" class="h-8 w-32 px-2 py-1 bg-customLightBlue rounded-md text-white flex justify-center hover:bg-white hover:text-customLightBlue transition-colors cursor-pointer">Sube tu foto</label>
                            @if (!foto2) {
                                <input (change)="onFileSelected($event, 'foto2')" type="file" id="imagen2" name="imagen2" accept="image/*" class="h-8 hidden">
                            } @else {
                                <div class="flex flex-row">
                                    <input (change)="onFileSelected($event, 'foto2')" type="file" id="imagen2" name="imagen2" accept="image/*" class="h-8 hidden">
                                    <p class="text-green-700 font-medium text-xs">Imagen subida con exito!</p>
                                </div>
                            }
                        </div>
                    }
                    <div class="mt-auto pb-6 pt-3">
                        <button (click)="register()" class="w-full h-10 rounded-md bg-customLightBlue text-white font-medium hover:bg-customBlue transition-colors">Registrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div routerLink="/bienvenida" class="group absolute left-0 bottom-0 h-10 w-[104px] bg-customDarkBlue rounded-md ml-20 mb-7 flex justify-center items-center gap-2 cursor-pointer hover:bg-slate-100 hover:rounded-full transition-all duration-200">
        <img src="/assets/volver.png" alt="" class="block group-hover:hidden w-4 h-4 transition-all duration-200">
        <img src="/assets/volver2.png" alt="" class=" hidden group-hover:block w-4 h-4 transition-all duration-200">
        <p class="text-white font-semibold group-hover:text-customLightBlue transition-colors duration-200">Volver</p>
    </div>
</div>